[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
black = "==18.9b0"
pre-commit = "*"
isort = "*"
autoflake = "*"
reorder-python-imports = "*"

[requires]
python_version = "3.7"
