[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
black = "===18.9b0"
autoflake = "*"
reorder-python-imports = "*"
isort = "*"
pipreqs = "*"
pip = "*"
pdoc = "*"
monkeytype = "*"
mypy = "*"
utils = "*"

[requires]
python_version = "3.7"
