[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = [
    "pytest>=7.3.2",
    "icecream>=2.1.3",
    "pre-commit>=3.3.2",
]

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.refurb]
enable_all = true

[tool.codespell]
quiet-level = 3
ignore-words-list = "crate"

[tool.pyanalyze]
paths = [
    "crackerjack",
]
markdown_output = ".pyanalyze-report.md"
json_output = ".pyanalyze-report.json"
find_unused = true
find_unused_attributes = true
autofix = true
fail_after_first = false
profile = true
enable_all = true
num_iterations = 5

[tool.pyright]
include = [
    "crackerjack",
]
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.11"

[project]
name = "Crackerjack"
version = "0.3.2"
description = "Crackerjack code formatting style."
requires-python = ">=3.11"
readme = "README.md"
keywords = [
    "black",
    "ruff",
    "mypy",
    "creosote",
    "refurb",
]
classifiers = [
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "click>=8.1.3",
    "aiopath>=0.6.11",
    "aioconsole>=0.6.1",
    "pydantic>=2.0b2",
    "inflection>=0.5.1",
    "acb>=0.1.8",
    "tomli-w>=1.0.0",
    "pdm-bump>=0.7.0",
]
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
homepage = "https://github.com/lesleslie/crackerjack"
documentation = "https://github.com/lesleslie/crackerjack"
repository = "https://github.com/lesleslie/crackerjack"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
