[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = []

[tool.ruff]
line-length = 88
target-version = "py311"
fix = true
show-fixes = true
show-source = true

[tool.ruff.isort]
force-single-line = true

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py311",
]

[tool.creosote]
paths = [
    "crackerjack",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "autotyping",
    "python-ulid",
    "pre-commit",
    "pytest",
    "libsass",
    "starlette-decorouter",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "crackerjack",
]
skips = [
    "B113",
    "B403",
    "B404",
    "B603",
]

[tool.pyright]
include = [
    "crackerjack",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.11"

[project]
name = "Crackerjack"
version = "0.6.19"
description = "Crackerjack code style"
requires-python = ">=3.11"
readme = "README.md"
keywords = [
    "black",
    "ruff",
    "mypy",
    "creosote",
    "refurb",
]
classifiers = [
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "click>=8.1.7",
    "aiopath>=0.6.11",
    "aioconsole>=0.6.2",
    "inflection>=0.5.1",
    "pdm-bump>=0.7.3",
    "autotyping>=23.3.0",
    "pre-commit>=3.4.0",
    "pytest>=7.4.2",
    "pydantic==2.4.0",
    "acb>=0.2.11",
]
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
homepage = "https://github.com/lesleslie/crackerjack"
documentation = "https://github.com/lesleslie/crackerjack"
repository = "https://github.com/lesleslie/crackerjack"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
