[tool.pdm.options]
config = [
    "python.use_venv",
    "true",
]

[tool.pdm.dev-dependencies]
dev = []

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[tool.ruff]
line-length = 88
target-version = "py312"
fix = true
show-fixes = true
output-format = "full"

[tool.ruff.lint]
ignore = [
    "F821",
]

[tool.ruff.lint.isort]
force-single-line = true

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.black]
target-version = [
    "py312",
]

[tool.creosote]
paths = [
    "crackerjack",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "autotyping",
    "pre-commit",
    "pytest",
    "pdm",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "crackerjack",
]
skips = [
    "B404",
    "B603",
]

[tool.pyright]
verboseOutput = true
include = [
    "crackerjack",
]
extraPaths = [
    "__pypackages__/3.12/lib/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportPrivateUsage = "warning"
pythonVersion = "3.12"
pythonPlatform = "Darwin"

[project]
name = "Crackerjack"
version = "0.7.33"
description = "Crackerjack code style"
requires-python = ">=3.12"
readme = "README.md"
keywords = [
    "black",
    "ruff",
    "mypy",
    "creosote",
    "refurb",
]
classifiers = [
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.12",
    "Development Status :: 4 - Beta",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
    "Topic :: Software Development :: Testing",
    "Topic :: Utilities",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: BSD License",
    "Typing :: Typed",
]
dependencies = [
    "click>=8.1.7",
    "aioconsole>=0.7.1",
    "inflection>=0.5.1",
    "autotyping>=24.3.0",
    "pre-commit>=3.7.1",
    "pytest>=8.2.1",
    "pydantic>=2.7.1",
    "aiopath>=0.7.7",
    "acb>=0.6.0",
    "pdm-bump>=0.9.0",
    "pdm>=2.15.2",
]
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-Clause"

[project.urls]
homepage = "https://github.com/lesleslie/crackerjack"
documentation = "https://github.com/lesleslie/crackerjack"
repository = "https://github.com/lesleslie/crackerjack"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"
