[tool.pytest.ini_options]
addopts = "--cov=crackerjack"
asyncio_default_fixture_loop_scope = "function"
python_files = ["test_*.py", "*_test.py"]
python_classes = "Test*"
python_functions = "test_*"
asyncio_mode = "auto"

[tool.coverage.run]
branch = true
source = ["crackerjack"]
omit = [
    "*/tests/*",
    "*/site-packages/*",
    "*/__pycache__/*",
    "*/__init__.py",
    ]

[tool.coverage.report]
exclude_also = [
    "pragma: no cover",
    "def __repr__",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "pass",
    "raise ImportError",
    "except ImportError",
    "def __str__",
    "@abstractmethod",
    ]
ignore_errors = false

[tool.codespell]
skip = "*/data/*"
quiet-level = 3
ignore-words-list = "crate,uptodate"

[tool.ruff]
line-length = 88
target-version = "py313"
fix = true
show-fixes = true
output-format = "full"
unsafe-fixes = true

[tool.ruff.format]
docstring-code-format = true

[tool.ruff.lint]
ignore = [
    "F821",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
]
extend-select = [
    "I",
    "C901",
    "D",
]

[tool.ruff.lint.isort]
no-lines-before = [
    "first-party",
]

[tool.ruff.lint.mccabe]
max-complexity = 12

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.vulture]
min_confidence = 86
paths = ["crackerjack",]
ignore_names = ["cls"]

[tool.creosote]
paths = [
    "crackerjack",
]
deps-file = "pyproject.toml"
exclude-deps = [
    "pdm-bump",
    "autotyping",
    "pre-commit",
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "pytest-mock",
    "pdm",
    "pyfiglet",
    "pyyaml",
    "uv",
    "tomli-w",
    "google-crc32c",
]

[tool.refurb]
enable_all = true

[tool.bandit]
target = [
    "crackerjack",
]
skips = [
    "B101",
    "B301",
    "B311",
    "B403",
    "B404",
    "B602",
    "B603",
    "B607",
    "B704",
]

[tool.pyright]
verboseOutput = true
include = [
    "crackerjack",
]
exclude = [
    "scratch",
]
extraPaths = [
    ".venv/lib/python3.13/site-packages/",
]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
reportOptionalMemberAccess = false
reportOptionalCall = false
reportUnknownMemberType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportInvalidTypeForm = false
reportUnknownLambdaType = false
reportUnknownParameterType = "warning"
reportPrivateUsage = false
pythonVersion = "3.13"
pythonPlatform = "Darwin"

[project]
name = "crackerjack"
version = "0.14.3"
description = "Default template for PDM package"
requires-python = ">=3.13"
readme = "README.md"
keywords = [
    "black",
    "ruff",
    "mypy",
    "creosote",
    "refurb",
]
classifiers = [
    "Environment :: Console",
    "Operating System :: POSIX",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.13",
    "Development Status :: 4 - Beta",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
    "Topic :: Software Development :: Testing",
    "Topic :: Utilities",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: BSD License",
    "Typing :: Typed",
]
dependencies = [
    "autotyping>=24.9.0",
    "pre-commit>=4.1.0",
    "pytest>=8.3.5",
    "pydantic>=2.10.6",
    "pdm-bump>=0.9.10",
    "pdm>=2.22.4",
    "uv>=0.6.6",
    "pytest-cov>=6.0.0",
    "pytest-mock>=3.14.0",
    "tomli-w>=1.2.0",
    "pytest-asyncio>=0.25.3",
    "rich>=13.9.4",
    "typer>=0.15.2",
]
authors = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]
maintainers = [
    { name = "lesleslie", email = "les@wedgwoodwebworks.com" },
]

[project.license]
text = "BSD-3-CLAUSE"

[project.urls]
homepage = "https://github.com/lesleslie/crackerjack"
documentation = "https://github.com/lesleslie/crackerjack"
repository = "https://github.com/lesleslie/crackerjack"


[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
